/* Dark Mode */
:root {
    --text-primary: #fff;
    --text-secondary: #ccc;
    --background: #222;
    --foreground: #111;
    --glass-bg: rgba(50, 50, 50, 0.6);
    --glass-border: rgba(150, 150, 150, 0.3);


    --logo-x: 15%;
    --logo-y: 72px;

    --logo-offset-x: 0px;
    --logo-offset-y: 12px;

    --accent-yellow: #FFC800;
    --accent-red: #E6402B;
    --accent-blue: #15ADE2;
    --accent-orange: #FD7560;


    --delay: 200;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Source Serif 4', sans-serif;
    --font-weight-light: 100;
    --font-weight-regular: 300;
    --font-weight-bold: 600;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    :root {
        --text-primary: #000;
        --text-secondary: #444;
        --background: #fff;
        --foreground: #f3f3f3;
        --glass-bg: rgba(255, 255, 255, 0.5);
        --glass-border: rgba(255, 255, 255, 0.3);
    }
}

.glass{
border-radius: 16px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
transition: 1s;
border: 1px solid transparent;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0);
}

.glass-shadow{
    background: var(--glass-bg);
    border: 1px solid var(--glass-border);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

spline-viewer{
    width: auto;
    height: 70vh;
}

.x-logo {
    fill: var(--text-primary);
    margin-right: 8px;
    transition: transform 0.5s ease-in-out;
}

.x-logo:hover {
    animation: spin-wheel 4s both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

html {
    background-color: var(--background);
    top: 60px;
}

body {
    color: var(--text-primary);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
}

footer{
    height: auto;
    font-size: 40px;
    background-color: var(--text-primary);
    padding: 20px 0;
    position: relative;
}
  /* add delay at the end of animation so you dont start while another div is going */
  /* @keyframes marquee {
    0% { left: 100%; }
    50% { left: -100%; }
    100% {left: -100%}
  }

.marquee {
    font-size: 32px;
    height: 56px;
    line-height: 60px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--text-primary);
    color: var(--background);
  }

  
  /* would need to be adjusted depending on time */
  .marquee .marqueeone{
    animation: marquee 40s linear infinite;
  }
  
  .marquee .marqueetwo{
    animation: marquee 40s linear 10s infinite;
  }
  
  .marquee .marqueethree{
    animation: marquee 40s linear 20s infinite;
  }
  
  .marquee .marqueefour{
    animation: marquee 40s linear 30s infinite;
  }
  
  /* even out the elements */
  .marquee div {
    position: absolute;
    left: 100%;
    width: auto;
    transition: .2s;
  }
  
  .marquee:hover div {
    animation-play-state: paused;
    transform: scale(1.2);
  } */
  


.person-card{
    display: inline-flex;
    flex-direction: column;
    height: auto;
    /* background-color: var(--foreground); */
    transition: .2s;
    margin: 40px;
    /* border-bottom: 2px solid var(--foreground); */
}

.person-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
}

/* .person-card:hover{
    background: var(--background);
    transform: translateY(-2px);
    border-bottom: 2px solid var(--accent-blue);
} */

.person-photo{
    width: 200px;
    height: 200px;
    z-index: 4;
    transition: .2s;
}

.person-name{
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    margin: 0 0 -4px 0;
}

.person-title{
    font-size: 14px;
    font-weight: var(--font-weight-regular);
    color: var(--text-secondary);
    margin: 0 0 0 0;
}

.img-overlay-wrap{
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
}

.isoverlay{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 240px;
    height: 240px;
    transition: .2s;
    z-index: 5;
}

.isoverlay:hover{
    transform: scale(.9);
}

.isoverlay:hover + .person-photo {
    transform: scale(1.1);
    border-radius: 0px 24px 0 12px;
}

.tab-container{
    margin-left: 28px;
}

.tab{
    display: inline-block;
    padding: 16px 28px 16px 28px;
    font-size: 18px;
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.37px;
    width: auto;
    margin-right: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    color: var(--text-secondary);
    border-bottom: 0px solid var(--foreground);
    transition: .2s;
}

.tab:hover{
    color: var(--text-primary);
    border-bottom: 2px solid var(--accent-red);
}

.tab-active{
    background-color: var(--background);
    color: var(--text-primary);
    border-bottom: 2px solid var(--accent-red);
}

.entry-box {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
}

.bg-red {
    background-color: var(--accent-red);
    margin-top: 10px;
}

.bg-blue {
    background-color: var(--accent-blue);
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.bg-yellow {
    background-color: var(--accent-yellow);
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.bg-background {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.vw-100 {
    width: 100vw;
}

.vw-200 {
    width: 200vw;
}

.anim-stretch-in {
    animation: stretch-in 1s both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
}

@keyframes stretch-in {
    0% {
        transform: scaleY(0);
        transform-origin: 0% 100%;
        opacity: 1;
    }

    100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

.anim-fade-in-up {
    animation: fade-in-up 1s both;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1)
}

@keyframes fade-in-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.anim-spin-wheel {
    animation: spin-wheel 4s both infinite;
    animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1)
}

@keyframes spin-wheel {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(135deg) scale(1.2);
    }

    100% {
        transform: rotate(270deg) scale(1);
    }
}


.wiggle-gentle {
    animation: wiggle-gentle 1s ease-in-out infinite;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }
}

@keyframes wiggle-gentle {
    
        0%,
        100% {
            transform: rotate(-2deg);
        }
    
        50% {
            transform: rotate(2deg);
        }
}

.no-anim {
    animation: none !important;
}

.delay-1 {
    animation-delay: calc(var(--delay) * 1ms);
}

.delay-2 {
    animation-delay: calc(var(--delay) * 2ms);
}

.delay-3 {
    animation-delay: calc(var(--delay) * 3ms);
}

.delay-4 {
    animation-delay: calc(var(--delay) * 4ms);
}

.delay-5 {
    animation-delay: calc(var(--delay) * 5ms);
}

.delay-6 {
    animation-delay: calc(var(--delay) * 6ms);
}

main {
    background-color: var(--foreground);
    border-radius: 12px;
    padding: 48px;
    width: 720px;
    margin: 8% auto 0 auto;
}


#drag-1,
#drag-2,
#drag-3,
#drag-4,
#drag-5 {
    position: absolute;
    touch-action: none;
    user-select: none;
    transform: translate(0px, 0px);
    width: 72px;
    height: auto;
    z-index: 10;
    transition: transform 1s ease-out;
    animation: wiggle-gentle 1s ease-in-out infinite;

}

#drag-1 {
    left: var(--logo-x);
    top: var(--logo-y);
}

#drag-2 {
    left: calc(var(--logo-x) + 48px);
    top: calc(var(--logo-y) + var(--logo-offset-y));
}

#drag-3 {
    left: calc(var(--logo-x) + 118px);
    top: var(--logo-y);
}

#drag-4 {
    left: calc(var(--logo-x) + 150px);
    top: calc(var(--logo-y) + var(--logo-offset-y));
}

#drag-5 {
    left: calc(var(--logo-x) + 180px);
    top: var(--logo-y);
}



#drag-1:hover,
#drag-2:hover,
#drag-3:hover,
#drag-4:hover,
#drag-5:hover {
    cursor: grab;    
}

#drag-1:active,
#drag-2:active,
#drag-3:active,
#drag-4:active,
#drag-5:active, {
    cursor: grabbing;
}



.uxday-logo{
    width: 96px;
    height: auto;
    fill: var(--text-primary);
}

.center {
    display: inline;
    width: 100%;
}

.post img {
    outline: 1px solid rgba(0, 0, 0, 0.15);
    outline-offset: -1px;
    border-radius: 6px;
}

.slideshow {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
}

.dot {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 8px;
    margin: 0 4px;
    background-color: var(--accent-color-light);
    transition: .2s;
}

.active {
    background-color: var(--accent-color);
}

.slideshow-previous {
    opacity: .75;
}

.slideshow-previous:hover {
    opacity: 1;
}

.slideshow-next {
    opacity: .75;
}

.slideshow-next:hover {
    opacity: 1;
}

.slideshow-previous::after {
    content: "←";
    text-align: right;
    font-size: 24px;
    z-index: 2;
}

.slideshow-next::before {
    content: "→";
    text-align: left;
    font-size: 24px;
    z-index: 2;
}

.slideshow>img {
    margin: 20px 12px 0px 12px;
    width: 720px;
    z-index: 1;
    animation: fadeIn .1s ease-in-out;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.slideshow-indicator {
    margin-bottom: 16px;
}

.move-right {
    transition: .3s;
    opacity: 1 !important;
    transform: translateX(-744px);
}

.move-left {
    transition: .3s;
    transform: translateX(744px);
    opacity: 1 !important;
}




body {
    font-size: 18px;
    letter-spacing: -0.3px;
    line-height: 28px;
    margin: 0;
}

 .section-1-bg {
    /* background: url(header-bg.png);
    background-position: center; */
    /* Centers the image horizontally */
    background-size: auto 100%;
    /* Ensures the image fits vertically */
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.no-decoration {
    color: inherit;
    text-decoration: inherit;
}

h1 {
    display: inline-block;
    position: relative;
}

h1 a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

h1 a:hover {
    text-decoration: none;
}

.no-decoration:hover {
    text-decoration: none;
}

.event-details {
    padding: 40px 40px 40px 40px;
    right: 15%;
    top: 0;
    background: var(--foreground);
    position: absolute;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    position: sticky;
    top: 40px;
    left: 0;
    right: 0;
    width: auto;
    border-radius: 12px;
    width: 800px;
    margin: 40px auto;
    z-index: 10;
}

.header-img{
    width: 900px;
    margin-left: calc((100vw - 900px)/2);
    margin-top: 90px;
    margin-bottom: 40px;
}

.section {
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    width: 880px;
    margin: 0 auto 80px auto; 
    /* background-color: var(--foreground); */
}

.section-top {
    margin: 40px auto 100px auto;
    width: 800px;
    padding: 24px 32px;
    z-index: 12;
    /* background-color: var(--foreground); */
    border-radius: 4px;
}

.section-header{
    padding-left: 40px;
}

th {
    background: #1D2D32;
    color: #fff;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
}

td {
    padding-left: 12px;
    padding-right: 12px;
}

tr:nth-child(even) {
    background: #DCEAEA;
}

tr:nth-child(odd) {
    background: #F1F7F7;
}

.nav li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--background);
}

a:hover {
    text-decoration: none;
}

h1 {
    font-weight: 400;
    font-size: 28px;
}
.text-primary {
    color: var(--text-primary);
    margin: 0;
}

.text-secondary{
    color: var(--text-secondary);
}

h2{
    font-weight: 400;
    font-size: 20px;
    color: var(--text-primary);
}

ul {
    -webkit-padding-start: 2px;
    padding-inline-start: 2px;
}

li {
    padding-bottom: 16px;
}

.text-white {
    color: #fff;
}

.text-light {
    color: #D1D5D6;
}

.text-accent {
    color: var(--text-secondary);
}

.text-accent-red {
    color: var(--accent-red);
}

.text-accent-blue {
    color: var(--accent-blue);
}

.text-accent-yellow {
    color: var(--accent-yellow);
}

.text-dark {
    color: #1D2D32;
}

.bg-mint {
    background: #BAD5D6;
}

.bg-dark {
    background: var(--background);
}

.bg-darker {
    background: #152125;
}

.capsbold {
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 10px;
    margin-bottom: 8px;
    margin-top: 32px;
}

.button {
    display: inline-block;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    width: auto;
border-radius: 6px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    text-decoration: none;
    transition: .2s;
}

.button:hover {
    transform: translateY(-2px);
    /* border-bottom: 2px solid var(--accent-blue); */
    text-decoration: none;
    outline: 2px solid var(--text-primary);
    outline-offset: 2px;
    outline-style: solid;
}

.button-accent {
    color: var(--background);
    background-color: var(--text-primary);
}

.button-secondary {
    color: var(--text-secondary);
    background: var(--glass-bg);
}



@media only screen and (max-width: 840px) {

    :root {
        --logo-x: 14px;
    }
    body {
        font-size: 15px;
    }

    .section {
        width: auto;
    }

    header{
        width: auto;
        border-radius: 0px;
        margin: 0;
        top: 0;
    }

    .person-photo{
        width: 60vw;
        height: 60vw;
    }

    .isoverlay{
        width: calc(60vw + 40px);
        height: calc(60vw + 40px);
        
    }

    .person-name{
        font-size: 20px;
        line-height: 32px;
    }

    .person-title{
        font-size: 16px;
    }

    .glass{
        border-radius: 0px;
    }

    .glass-shadow{
        border-radius: 0px;
    }

    .header-img{
        width: 100vw;
        margin: 60px 0 60px 0;
    }


    .section-top {

        margin: 40px 24px;
        width: auto;
        padding: 0;
    }

    .section-header{
        padding: 0 0 0 24px;
    }

    .slideshow>img {
        width: 84vw;
        margin: 8px 6px 0 6px;
    }

    .move-right {
        transform: translateX(calc(-84vw - 12px));
    }

    .move-left {
        transform: translateX(calc(84vw + 12px));
    }

}